.portfolio {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.pList {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  width: max-content;
}

.pItem {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  border-radius: 40px;
}
.pItem:nth-child(1) {
  background: linear-gradient(to right, transparent, #4c135b);
}
.pItem:nth-child(2) {
  background: linear-gradient(to right, transparent, #290824);
}
.pItem:nth-child(3) {
  background: linear-gradient(to right, transparent, #052f12);
}

.pItem:nth-child(4) {
  background: linear-gradient(to right, #300c5e, #02222e);
}

.pItem:nth-child(5) {
  background: linear-gradient(to left, #08506a, #12071f);
}

.pImg {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.pImg img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.pText {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pText h1 {
  font-size: 56px;
}

.pText p {
  font-weight: 300;
}

.pText button {
  color: white;
  background-color: #7b17c8;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1536px) {
  .portfolio {
    margin-top: 100px;
  }
  .pItem {
    gap: 50px;
  }
}

@media (max-width: 1280px) {
  .pText h1 {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .portfolio {
    margin-top: 50px;
  }
  .pItem {
    flex-direction: column;
    gap: 30px;
  }

  .pText {
    width: 80%;
  }
  .pImg {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;

    .pItem {
      display: flex;
      flex-direction: row;
      .pText {
        gap: 10px;
      }
      img {
        height: 50%;
      }
    }
  }
}
