.contact {
  height: 100%;
  display: flex;
  gap: 100px;
}

.cSection {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cSection:last-child {
  background-color: rgba(2, 2, 45, 0.187);
  margin: 50px 0px;
  padding: 50px;
  border-radius: 50% 0px;
}

@media (max-width: 768px) {
  .contact {
    margin-top: 50px;
    flex-direction: column;
  }

  .cSection {
    width: 100%;
  }

  .cSection:first-child {
    height: 70%;
  }
  .cSection:last-child {
    height: 30%;
    display: none;
  }
}
